In [11]:
import pandas as pd
from IPython.display import display

# 1 
df = pd.read_csv('exportado/df_200_dias.csv')

# 2
df["fecha"] = pd.to_datetime(df["fecha"])

# 3 Parámetros a analizar
parametros = ["NO2", "CO", "PM2.5", "PM10", "SO2"]

for col in parametros:
    print("===")
    print(f"RESULTADOS PARA: {col}")
    print("===")

    # 5 valores máximos
    maximos = df.nlargest(5, col)[["fecha", col]].copy()
    maximos = maximos.rename(columns={col: "valor_maximo"})

    # 5 valores mínimos
    minimos = df.nsmallest(5, col)[["fecha", col]].copy()
    minimos = minimos.rename(columns={col: "valor_minimo"})

    print("\n5 VALORES MÁXIMOS:")
    display(maximos)   

    print("\n5 VALORES MÍNIMOS:")
    display(minimos)  

    
# 6 Unir un solo DataFrame
resultado = pd.concat(filas, ignore_index=True)

# 7
resultado.to_csv("exportado/resultados_max_min.csv", index=False)

print("Archivo generado: exportado/resultados_max_min.csv")

===
RESULTADOS PARA: NO2
===

5 VALORES MÁXIMOS:

         fecha  valor_maximo
190 2023-11-17     38.776667
191 2023-11-18     37.025417
187 2023-11-14     36.429167
183 2023-11-10     35.714167
188 2023-11-15     34.647500

5 VALORES MÍNIMOS:

         fecha  valor_minimo
193 2023-11-20     24.328333
192 2023-11-19     25.521250
199 2023-11-26     26.273333
194 2023-11-21     28.783333
198 2023-11-25     29.537647

===
RESULTADOS PARA: CO
===

5 VALORES MÁXIMOS:

         fecha  valor_maximo
191 2023-11-18   1789.062500
190 2023-11-17   1780.952083
194 2023-11-21   1734.197917
189 2023-11-16   1720.839583
188 2023-11-15   1714.160417

5 VALORES MÍNIMOS:

         fecha  valor_minimo
199 2023-11-26    210.393750
198 2023-11-25    221.073077
197 2023-11-24    513.341667
196 2023-11-23    550.640909
195 2023-11-22    962.754167

===
RESULTADOS PARA: PM2.5
===

5 VALORES MÁXIMOS:

         fecha  valor_maximo
140 2023-09-28     16.872917
116 2023-09-01     16.734583
94  2023-08-10     16.624167
102 2023-08-18     15.286522
196 2023-11-23     14.433750

5 VALORES MÍNIMOS:

         fecha  valor_minimo
41  2023-06-18      3.961250
35  2023-06-12      4.073750
171 2023-10-29      4.164167
192 2023-11-19      4.211667
48  2023-06-25      4.244783

===
RESULTADOS PARA: PM10
===

5 VALORES MÁXIMOS:

         fecha  valor_maximo
94  2023-08-10     36.741250
116 2023-09-01     34.696250
115 2023-08-31     33.805000
81  2023-07-28     33.306667
0   2023-05-08     32.972917

5 VALORES MÍNIMOS:

         fecha  valor_minimo
192 2023-11-19      6.900417
48  2023-06-25      9.092500
42  2023-06-19      9.100000
171 2023-10-29      9.569583
41  2023-06-18     10.128750

===
RESULTADOS PARA: SO2
===

5 VALORES MÁXIMOS:

         fecha  valor_maximo
195 2023-11-22      5.904545
184 2023-11-11      4.226250
190 2023-11-17      4.189130
188 2023-11-15      3.800417
191 2023-11-18      3.755000

5 VALORES MÍNIMOS:

         fecha  valor_minimo
192 2023-11-19      2.665000
197 2023-11-24      2.810000
199 2023-11-26      2.839333
198 2023-11-25      3.025294
194 2023-11-21      3.033478

Archivo generado: exportado/resultados_max_min.csv